version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: postgresdb
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"

    restart: unless-stopped


volumes:
  postgres_data:
